.dropdown {
    display: inline-block;
    position:relative;
    &-toggle {
        &:after {
            content: '';
            display: inline-block;
            margin-left:5px;
            vertical-align: 3px;
            border-top:4px solid;
            border-right:4px solid transparent;
            border-bottom:0;
            border-left:4px solid transparent;
        }
    }
    &-menu {
        border:1px solid rgba(0,0,0,.15);
        border-radius: 3px;
        background-color: #fff;
        display:none;
        min-width: 100%;
        padding: 10px 0;
        position: absolute;
        top: 100%;
        left:0;
        z-index:1000;
    }
    &-item {
        background-color: transparent;
        border:0;
        color: $dark;
        display: block;
        padding:7px 10px;
        text-decoration: none;
        width: 100%;
        &:hover {
            background-color: rgba(0,0,0, .05);
        }
    }
}
